In [441]:
import pandas as pd
import numpy as np
sourceCSV = "Resources/purchase_data.csv"
purchaseData_df = pd.read_csv(sourceCSV)

In [442]:
playerCount = len(purchaseData_df["SN"].unique()) #counting the number of unique values from this column inside the data frame
playerCount_df = pd.DataFrame([playerCount], columns=["Total Players"]) #creating new data frame for displaying count of total unique players
playerCount_df.style.hide_index()

In [443]:
uniqueItemsCount = len(purchaseData_df["Item Name"].unique()) #getting the number of unique items
purchaseCount = len(purchaseData_df["Price"]) #getting the length of the Price column to add up the number of sales
totalRevenue = sum(purchaseData_df["Price"]) #adding together the contents of the Price column to get the total revenue
avgPrice = totalRevenue / purchaseCount #dividing the total revenue by the number of sales to get the average price per sale

totalPurchaseAnalysis_df = pd.DataFrame(#adding column names and values to the data frame as a dictionary of lists 
    {
    "Unique Items": [uniqueItemsCount],
    "Average Price": [avgPrice],
    "Number of Purchases": [purchaseCount],
    "Total Revenue": [totalRevenue]
    }
)
totalPurchaseAnalysis_df["Average Price"] = totalPurchaseAnalysis_df["Average Price"].astype(float).map("${:,.2f}".format) #formatting to have a dollar sign
totalPurchaseAnalysis_df["Total Revenue"] = totalPurchaseAnalysis_df["Total Revenue"].astype(float).map("${:,.2f}".format) #in front and be two decimal places
totalPurchaseAnalysis_df.style.hide_index()

In [444]:
uniqueUsers_df = purchaseData_df
uniqueUsers_df["SN"] = pd.DataFrame(uniqueUsers_df["SN"].unique()) #adding null entries for duplicate/repeat players
uniqueUsers_df = uniqueUsers_df.dropna(subset=["SN"]) #dropping all null entries for "SN" column from data frame

uniqueMaleCount = len(uniqueUsers_df.loc[uniqueUsers_df["Gender"] == "Male"]) #getting the number of males from the unique users data frame
uniqueFemaleCount = len(uniqueUsers_df.loc[uniqueUsers_df["Gender"] == "Female"]) #getting the number of females from the unique users data frame
uniqueTotalCount = len(uniqueUsers_df["Gender"])
uniqueOtherCount = uniqueTotalCount - (uniqueMaleCount + uniqueFemaleCount) #getting the number of other because the value must not be male or female so calculating the difference

uniqueMalePercent = (uniqueMaleCount / uniqueTotalCount) * 100
uniqueFemalePercent = (uniqueFemaleCount / uniqueTotalCount) * 100
uniqueOtherPercent = (uniqueOtherCount / uniqueTotalCount) * 100

gender_df = pd.DataFrame(
    {
    "Total Count": [uniqueMaleCount, uniqueFemaleCount, uniqueOtherCount], #populating the data frame columns with the above values
    "Percentage of Players": [uniqueMalePercent, uniqueFemalePercent, uniqueOtherPercent] 
    },
    index=["Male", "Female", "Other"] #giving names to the index values
)

gender_df["Percentage of Players"] = gender_df["Percentage of Players"].astype(float).map("{:,.2f}%".format) #formatting to have a percent sign

gender_df

        Total Count Percentage of Players
Male            476                82.64%
Female           88                15.28%
Other            12                 2.08%

In [445]:
males_df = purchaseData_df.loc[purchaseData_df["Gender"] == "Male"]
females_df = purchaseData_df.loc[purchaseData_df["Gender"] == "Female"]
other_df = purchaseData_df.loc[purchaseData_df["Gender"] == "Other / Non-Disclosed"]

totalMalePurchases = sum(males_df["Price"]) #total purchases summed together for all of each gender
totalFemalePurchases = sum(females_df["Price"])
totalOtherPurchases = sum(other_df["Price"])

avgMalePurchasePrice = totalMalePurchases / len(males_df) #total amount spent per gender divided by number of purchases per gender to get average purchase price
avgFemalePurchasePrice = totalFemalePurchases / len(females_df) 
avgOtherPurchasePrice = totalOtherPurchases / len(other_df) 

avgMalePurchasePerPerson = totalMalePurchases / uniqueMaleCount #total amount spent per unique player of each gender divided by number of purchases per gender to get average purchase price
avgFemalePurchasePerPerson = totalFemalePurchases / uniqueFemaleCount
avgOtherPurchasePerPerson = totalOtherPurchases / uniqueOtherCount

genderAnalysis_df = pd.DataFrame(
    {
    "Purchase Count": [len(males_df), len(females_df), len(other_df)], #populating the data frame columns with the above values
    "Avg Purchase": [avgMalePurchasePrice, avgFemalePurchasePrice, avgOtherPurchasePrice],
    "Total Purchase": [totalMalePurchases, totalFemalePurchases, totalOtherPurchases],
    "Avg Purchase per Person": [avgMalePurchasePerPerson, avgFemalePurchasePerPerson, avgOtherPurchasePerPerson]
    },
    index=["Male", "Female", "Other"] #giving names to the index values
)

genderAnalysis_df["Avg Purchase"] = genderAnalysis_df["Avg Purchase"].astype(float).map("${:,.2f}".format) #formatting to have a dollar sign
genderAnalysis_df["Total Purchase"] = genderAnalysis_df["Total Purchase"].astype(float).map("${:,.2f}".format)
genderAnalysis_df["Avg Purchase per Person"] = genderAnalysis_df["Avg Purchase per Person"].astype(float).map("${:,.2f}".format)

genderAnalysis_df

        Purchase Count Avg Purchase Total Purchase Avg Purchase per Person
Male               652        $3.02      $1,967.64                   $4.13
Female             113        $3.20        $361.94                   $4.11
Other               15        $3.35         $50.19                   $4.18

In [446]:
purchaseData_df = pd.read_csv(sourceCSV) #rereading from original CSV as I modified the original data frame earlier
#Cell for creating bins by age group
#Age bins will include ages: <10; 10-14; 15-19; 20-24; 25-29; 30-34; 35-39; 40+

age_Ranges_df = purchaseData_df #making new data frame as to not modify my original source data frame

bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 200] #adding value zones for the bins
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"] #adding names for the bin zones

age_Ranges_df["Age Range Summary"] = pd.cut(age_Ranges_df["Age"], bins, labels=group_names, include_lowest=True) #creating new column to summarize the age ranges
age_Ranges_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Range Summary
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [447]:
age_Range = age_Ranges_df.groupby("Age Range Summary")
ageCount = age_Range[["Age"]].count() #counting the numer of values for this column inside the data frame
agePercentage = (age_Range[["Age"]].count() / len(age_Ranges_df.index)) * 100 #each age group divided by the total number of rows of the data set to get a percentage

summary_Age_Range_df = pd.DataFrame(ageCount) #putting the ageCount object into a new data frame
summary_Age_Range_df.index.name = None #removing the "Age Range Summary" name from the index as it clutters up the chart
summary_Age_Range_df.rename(columns={'Age': 'Total Count'}, inplace=True) #renaming column to be more descriptive with regards to the current data frame data
summary_Age_Range_df["Percentage of Players"] = agePercentage

summary_Age_Range_df["Percentage of Players"] = summary_Age_Range_df["Percentage of Players"].astype(float).map("{:,.2f}%".format) #rounding to two decimal places and appending a percent sign to end

summary_Age_Range_df

       Total Count Percentage of Players
<10             23                 2.95%
10-14           28                 3.59%
15-19          136                17.44%
20-24          365                46.79%
25-29          101                12.95%
30-34           73                 9.36%
35-39           41                 5.26%
40+             13                 1.67%

In [448]:
age_Range = age_Ranges_df.groupby("Age Range Summary")
ageCount = age_Range[["Age"]].count() #counting the numer of values for this column inside the data frame
avgPurchase = age_Range[["Price"]].mean() #getting the average purchase price per age range
totalPurchase = age_Range[["Price"]].sum() #getting the total purchase price per age range
totalUsers = age_Range["SN"].count().unique() #getting the number of total unique users per age range
avgPurchasePerUser = totalPurchase["Price"] / totalUsers #calculating average purchase price per unique user

summary_Age_Range_df = pd.DataFrame(ageCount) #putting the ageCount object into a new data frame
summary_Age_Range_df.index.name = "Age Ranges" #shortening the name of the index
summary_Age_Range_df.rename(columns={'Age': 'Purchase Count'}, inplace=True) #renaming column to be more descriptive with regards to the current data frame data
summary_Age_Range_df["Average Purchase Price"] = avgPurchase #adding data to data frame
summary_Age_Range_df["Total Purchase Value"] = totalPurchase #adding data to data frame
summary_Age_Range_df["Avg Total Purchase per Person"] = avgPurchasePerUser #adding data to data frame

summary_Age_Range_df["Average Purchase Price"] = summary_Age_Range_df["Average Purchase Price"].astype(float).map("${:,.2f}".format) #rounding to two decimal places and prepending a dollar sign to beginning
summary_Age_Range_df["Total Purchase Value"] = summary_Age_Range_df["Total Purchase Value"].astype(float).map("${:,.2f}".format)
summary_Age_Range_df["Avg Total Purchase per Person"] = summary_Age_Range_df["Avg Total Purchase per Person"].astype(float).map("${:,.2f}".format)

summary_Age_Range_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$3.35
10-14,28,$2.96,$82.78,$2.96
15-19,136,$3.04,$412.89,$3.04
20-24,365,$3.05,"$1,114.06",$3.05
25-29,101,$2.90,$293.00,$2.90
30-34,73,$2.93,$214.00,$2.93
35-39,41,$3.60,$147.67,$3.60
40+,13,$2.94,$38.24,$2.94

In [470]:
playerPurchases = purchaseData_df.groupby("SN")
numberOfPurchasesPerPlayer = playerPurchases[["Price"]].count() #getting the count by SN (player name) for any column as they should all be the same count values
totalPurchaseValuePerPlayer = playerPurchases[["Price"]].sum() #summing together the total of all purchases per player
avgPurchasePricePerPlayer = totalPurchaseValuePerPlayer / numberOfPurchasesPerPlayer #calculating the average purchase price per player

summary_Player_Purchases_df = pd.DataFrame(numberOfPurchasesPerPlayer) #putting the numberOfPurchasesPerPlayer object into a new data frame 
summary_Player_Purchases_df.rename(columns={'Price': 'Purchase Count'}, inplace=True) #renaming column to be more descriptive with regards to the current data frame data
summary_Player_Purchases_df["Average Purchase Price"] = avgPurchasePricePerPlayer
summary_Player_Purchases_df["Total Purchase Value"] = totalPurchaseValuePerPlayer

summary_Player_Purchases_df.sort_values("Total Purchase Value", inplace=True, ascending=False) #sorting from Total Purchase Value from highest to lowest values
summary_Player_Purchases_df["Average Purchase Price"] = summary_Player_Purchases_df["Average Purchase Price"].astype(float).map("${:,.2f}".format) #rounding to two decimal places and prepending a dollar sign to beginning
summary_Player_Purchases_df["Total Purchase Value"] = summary_Player_Purchases_df["Total Purchase Value"].astype(float).map("${:,.2f}".format) #rounding to two decimal places and prepending a dollar sign to beginning

summary_Player_Purchases_df.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10