In [181]:
import pandas as pd
sourceCSV = "Resources/purchase_data.csv"
purchaseData_df = pd.read_csv(sourceCSV)
purchaseData_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [182]:
playerCount = len(purchaseData_df["SN"].unique()) #counting the number of unique values from this column inside the data frame
playerCount_df = pd.DataFrame([playerCount], columns=["Total Players"]) #creating new data frame for displaying count of total unique players
playerCount_df.style.hide_index()

In [183]:
uniqueItemsCount = len(purchaseData_df["Item Name"].unique()) #getting the number of unique items
purchaseCount = len(purchaseData_df["Price"]) #getting the length of the Price column to add up the number of sales
totalRevenue = sum(purchaseData_df["Price"]) #adding together the contents of the Price column to get the total revenue
avgPrice = totalRevenue / purchaseCount #dividing the total revenue by the number of sales to get the average price per sale

totalPurchaseAnalysis_df = pd.DataFrame(#adding column names and values to the data frame as a dictionary of lists 
    {
    "Unique Items": [uniqueItemsCount],
    "Average Price": [avgPrice],
    "Number of Purchases": [purchaseCount],
    "Total Revenue": [totalRevenue]
    }
)
totalPurchaseAnalysis_df["Average Price"] = totalPurchaseAnalysis_df["Average Price"].astype(float).map("${:,.2f}".format) #formatting to have a dollar sign
totalPurchaseAnalysis_df["Total Revenue"] = totalPurchaseAnalysis_df["Total Revenue"].astype(float).map("${:,.2f}".format) #in front and be two decimal places
totalPurchaseAnalysis_df.style.hide_index()

In [196]:
maleCount = len(purchaseData_df.loc[purchaseData_df["Gender"] == "Male"])
femaleCount = len(purchaseData_df.loc[purchaseData_df["Gender"] == "Female"])
totalCount = len(purchaseData_df["Gender"])
otherCount = totalCount - (maleCount + femaleCount) #getting the number of other because the value must not be male or female so calculating the difference

malePercent = (maleCount / totalCount) * 100
femalePercent = (femaleCount / totalCount) * 100
otherPercent = (otherCount / totalCount) * 100

gender_df = pd.DataFrame(
    {
    "Total Count": [maleCount, femaleCount, otherCount], #populating the data frame columns with the above values
    "Percentage of Players": [malePercent, femalePercent, otherPercent] 
    },
    index=["Male", "Female", "Other"] #giving names to the index values
)

gender_df["Percentage of Players"] = gender_df["Percentage of Players"].astype(float).map("{:,.2f}%".format) #formatting to have a dollar sign

gender_df

        Total Count Percentage of Players
Male            652                83.59%
Female          113                14.49%
Other            15                 1.92%